* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.continer {
    width: 90%;
    margin: auto;
}

/* UTILITIS */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end  {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}


.column {
    flex-direction: column;
}

.impostazioni-img-jumbo {
    width: 90%;
    margin-left: 1em;
   padding-top: 6em;
}



/* HEADER */

header {
    width: 100%;
    background-color:white;
    height: 15vh;
    border-bottom: 1px solid black;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.container-header-50 {
    width: 50%;
    
   
}

.header-container-50 {
width: 50%;


}

.img-logo {
margin-left: 1em;
padding: 1em;
height:60px;
}

 .lista ul {
    list-style: none;
    
}

.lista ul li {
    padding: 1.4em 0.5em;
    font-size: 20px;
    color:gray ;
    border-bottom: 3px solid transparent;
    
}
.lista ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid #7fb0ff;
    background-color: rgb(232, 226, 226);
}


.button {
   margin-left: 6em;
   padding: 0.5em 1em;
   color: white;
   background-color: blue;
   border: none;
   border-radius: 0.5em;
}


.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.button-2 {
    
    padding: 0.5em 1em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 0.5em;
    margin-top: 1em;
    
    
    
 }

 .button-2:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}


/* MAIN */

.sfondo-img1 {
    background-image: url(../css/img/jumbo.png);
}

.sfondo-azzurro-img1 {
    width: 100%;
    /* height: 600px; */
    background-color: #b4d0e7;
    margin-top: 10vh;
}

.container-p {
    width: 30%;
    margin-left: 10%;
    /* background-color: red; */
}


.title h1 {
 font-size: 80px;
padding-top: 2em;
 font-weight: bold;
 text-align: center;
    
}
 .jumbo-p {
padding-top: 1em;
 }
.arrow {
  font-size: 2em;
  margin-top: 7em;
  margin-left: 1em;
} 

.arrow:hover {
    transform: scale(1;1);
}


.container-img {
     
   /* background-color: yellow; */
   width: 70%;

}


.titolo-2 {
    padding-top: 1em;
   font-size: 40px;
   margin-left: 2em;  
}

.container-fatturazioni {
    margin-top: 2em;
  
}

.p-2 {
    font-size: 20px;
    margin-top: 3em;
    margin-left: 8em;
}
.fatturazione-annuale {
    margin-left: 6em;
}


.circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.caselle {
    width: 25%;
    height: 400px;
    border: 1px solid lightgray;
    margin-left: 10em;
    margin-top: 3em;
}
 


