* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.continer {
    width: 90%;
    margin: auto;
}

/* UTILITIS */

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-flex-end  {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}


.column {
    flex-direction: column;
}


/* HEADER */

header {
    width: 100%;
    background-color:white;
    height: 15vh;
    border-bottom: 1px solid black;
    color: black;
}

.container-header-50 {
    width: 50%;
    
   
}

.header-container-50 {
width: 50%;


}

.img-logo {
margin-left: 1em;
padding: 1em;
height:60px;
}

 .lista ul {
    list-style: none;
    
}

.lista ul li {
    padding: 1.4em 0.5em;
    font-size: 20px;
    color:gray ;
    border-bottom: 3px solid transparent;
    
}
.lista ul li:hover {
    cursor: pointer;
    border-bottom: 3px solid #b4d0e7;
    background-color: rgb(232, 226, 226);
}


.button {
   margin-left: 6em;
   padding: 0.5em 1em;
   color: white;
   background-color: blue;
   border: none;
   border-radius: 0.5em;
}

.button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}


/* MAIN */

.sfondo-img1 {
    background-image: url(../css/img/jumbo.png);
}

/* .sfondo-azzurro-img1 {
    width: ;
} */





